{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">
    <div class="col-md-12">
      <h1>{{event.title}}</h1>
      <hr>
      <h4>{{event.description}}</h4>
      <hr>
    </div>
    {% if event.over_21 %}
    <br>
    <div class="col-md-12 alert alert-warning">
    {% for error in errors %}
      <p class="text-center">{{error}}</p>
    {% endfor %}
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <p class="text-center"><strong>Heads up!</strong> You must be 21 or older to attend this event.</p>
    </div>
    <br>
    {% endif %}
    <form class="form" method="post">
      <div class="row">
        <div class="col-md-3">
          <label for="preferred_name">Preferred Name</label>
          {% if formSubmission %}
          <input type="text" name="preferred_name" class="form-control" placeholder="Preferred Name" id="preferred_name" value="{{formSubmission.preferred_name}}">
          {% else %}
          <input type="text" name="preferred_name" class="form-control" placeholder="Preferred Name" id="preferred_name">
          {% endif %}
        </div>
        <div class="col-md-3">
          <label for="last_name">Last Name</label>
          {% if formSubmission %}
          <input type="text" name="last_name" class="form-control" placeholder="Last Name" id="last_name" value="{{formSubmission.last_name}}">
          {% else %}
          <input type="text" name="last_name" class="form-control" placeholder="Last Name" id="last_name">
          {% endif %}
        </div>
        <div class="col-md-3">
          <label for="birthday">Birthday</label>
          {% if formSubmission %}
          <input type="date" name="birthday" class="form-control" id="birthday" value="{{formSubmission.birthday}}">
          {% else %}
          <input type="date" name="birthday" class="form-control" id="birthday">
          {% endif %}
        </div>
        <div class="col-md-3">
          <label for="email">Email Address</label>
          {% if formSubmission %}
          <input type="email" name="email" class="form-control" placeholder="Email Address" id="email" value="{{formSubmission.email}}">
          {% else %}
          <input type="email" name="email" class="form-control" placeholder="Email Address" id="email">
          {% endif %}
        </div>
        {% if event.over_21 %}
        <input type="hidden" name="over_21" value="true">
        {% endif %}
      </div>
      <div class="row">
        <div class="col-md-6">
          <br>
          <label for="ticket_id">Ticket Type</label>
          <select name="ticket_id" class="form-control" id="ticket_id">
            {% for ticket in tickets %}
            {% if (ticket.id == formSubmission.ticket_id) %}
            <option value="{{ticket.id}}" selected>{{ticket.name}} - {{ticket.price}}</option>
            {% else %}
            <option value="{{ticket.id}}">{{ticket.name}} - {{ticket.price}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6">
          <br>
          <label for="submit" class="submit-btn">Submit</label>
          <input type="submit" class="btn btn-primary form-control" value="Register" id="submit">
        </div>
      </div>
    </form>
  </div>

{% endblock %}
