{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">
    <h1>Current Events</h1>
    <hr>
    <div class="col-md-12 flexbox">
      {% for event in events %}
      <div class="col-md-6"></h2>
        <h2>{{event.title}} </h2>
          {% if (event.attendees > event.capacity) %}
          <p class="text-muted">
            Full!
          </p>
          {% else %}
          <p class="text-muted">
            {{event.attendees}}/{{event.capacity}} Attending
          </p>
          {% endif %}
        <p>{{event.start_datetime | date('LLL')}}</p>
        <a href="/venues/{{event.venue_id}}">  <h4>{{event.venue_name}}</h4></a>
        <h4>{{event.description}}</h4>
        {% if (event.attendees > event.capacity) %}
        <button type="button" class="btn btn-disabled" disabled>Event is Full!</button>
        {% else %}
        <a href="/events/{{event.id}}/register"><button type="button" class="btn btn-primary">Register Now!</button></h4></a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
